:root {
    font-size: 16px;
}

/* Header Start */
.header {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}
/* Header End */

/* Gameboard Start */
.gameboard {
    padding: 1rem;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
/* Gameboard End */

/* Card Start */
.card-body img {
    border-radius: 10%;
}
/* Card End */

/* Game Over and Level Up Start */
.App {
    position: relative;
}

.game-over {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    background-color: blue;
    padding: 2rem;
    border-radius: 10%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/* Game Over and Level Up End  */
